.cabecalho-home
{
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    height: 10vh;
}

.navegacao-home a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 50px;
}

.banner-principal
{
    background-image: url(/imgs/banner-principal-home.png);
    background-size: cover;
    height: 70vh;
    width: 100%;
    color: #fff;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
}

.banner-principal img
{
    align-self: flex-end;
    width: 35%;
}

.txt-banner-principal
{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}

.txt-banner-principal p
{
    font-size: 1.5em;
    width: 50%;
}

.btn-acessar
{
    padding: 20px 50px;
    border-radius: var(--border-btn);
    background-color: var(--cor-destaque);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--texto);
}

.btn-acessar:hover
{
    background-color: #29b9b0;
}

.sessao-cards
{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.sessao-cards h2
{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.line
{
    background-color: var(--cor-destaque);
    height: 5px;
    border-style: none;
    width: 300px;
    border-radius: 5px;
}

.cards-home
{
    display: flex;
    gap: 125px;
    margin-top: 170px;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle-icon
{
    display: flex;
    border: 5px solid var(--cor-destaque);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -75px;
    background-color: #fff;
}

.txt-card
{
    border: 1px solid black;
    border-radius: var(--border-cards);
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.txt-card h3
{
    text-transform: uppercase;
    text-align: center;
    width: 10em;
}

.txt-card p
{
    width: 12em;
    text-align: center;
}

.banner-secundario
{
    margin-top: 100px;
    background-color: #4891DC;
    color: #fff;
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: #fff;
    padding: 0px 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.txt-banner-secundario
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}

.txt-banner-secundario p
{
    font-size: 1.5em;
    width: 60%;
}