.cabecalho-home
{
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    height: 10vh;
}

.navegacao-home a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
}

.banner-bem-vindo
{
    background-image: url(/imgs/banner-principal-home.png);
    background-size: cover;
    height: 70vh;
    width: 100%;
    color: #fff;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
}

.banner-bem-vindo img
{
    align-self: flex-end;
    width: 35%;
}

.txt-banner
{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}

.txt-banner p
{
    font-size: 1.5em;
    width: 50%;
}

.btn-acessar
{
    padding: 20px 50px;
    border-radius: var(--border-btn);
    background-color: var(--cor-destaque);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--texto);
}

.btn-acessar:hover
{
    background-color: #29b9b0;
}

.sessao-motivos-usar-bibliotec
{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.sessao-motivos-usar-bibliotec h2
{
    font-size: 30px;
    font-weight: 700;
}

.line
{
    background-color: var(--cor-destaque);
    height: 5px;
    border-style: none;
    width: 300px;
    border-radius: 5px;
}