.banner-principal
{
    background-image: url(/imgs/banner-principal-home.png);
    background-size: cover;
    height: 70vh;
    width: 100%;
    color: #fff;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
}

.banner-principal img
{
    align-self: flex-end;
    width: 35%;
}

.txt-banner-principal
{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}

.txt-banner-principal p
{
    font-size: 1.5em;
    width: 60%;
}

.btn-acessar
{
    padding: 20px 50px;
    border-radius: var(--border-btn);
    background-color: var(--cor-destaque);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--texto);
}

.btn-acessar:hover
{
    background-color: #29b9b0;
}

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* Seção Benefícios */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px; 

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25); 

    text-align: center;

    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: #fff;

    border-radius: 50%;

    width: 30%;
    height: 30%;

    position: absolute;

    top: -15%;

    left: 50%;

    transform: translateX(-50%);

    display: grid;

    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}

.banner-secundario
{
    height: 60vh;
    background-image: url(/imgs/Banner\ centro.svg);
    background-size: cover;
    margin-top: 100px;
    color: #fff;
    width: 100%;
    padding: 0px 120px;
    display: flex;
    justify-content: flex-end;
}

.txt-banner-secundario
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}

.txt-banner-secundario h2
{
    font-size: 1.8em;
}

.txt-banner-secundario p
{
    font-size: 1.5em;
    width: 60%;
}

.sessao-recomendados
{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.livros-recomendados
{
    display: flex;
    margin: 100px;
    gap: 50px;
}

.livro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 15px;
}

.livro img
{   
    height: 300px;
}

.livro h3
{
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    height: 90%;
}

/* RODAPÉ */

.rodape
{
    background-color: var(--azul-escuro);
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.rodape h4
{
    color: var(--cor-destaque);
}

.rodape a
{
    color: #fff;
    text-decoration: none;
}

.infos-superior
{
    display: flex;
    justify-content: space-between;
}

.logos
{
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.infos-rodape
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    align-items: center;
}

.info
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 60px;
}

.icones-sociais
{
    display: flex;
    gap: 30px;
}

.icones-sociais img
{
    width: 18%;
}

hr
{
    margin: 50px 0 40px 0;
    color: #fff;
}

.info-legal
{
    display: flex;
    justify-content: space-between;
}

.info-termos
{
    display: flex;
    gap: 50px;
}

/* RESPONSIVIDADE */
.btn-menu {
    display: none; 
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-menu i {
    font-size: 2em;

    color: #fff;
    border-radius: 10px;
}

@media (max-width: 1024px)
{
    html
    {
        font-size: 12px;
    }

    .cabecalho img
    {
        width: 20%;
    }

    .txt-banner-principal h1
    {
        text-align: center;
    }

    /* BENEFICIOS */

    .beneficios {
        gap: 50px;

        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll; /*permite que o objeto role para o lado*/

        padding: 50px 20px;

        justify-content: flex-start;

    }

    .beneficios-lista::-webkit-scrollbar {
        display: none;
    }

    .beneficio {
        padding: 80px 10px 50px;
    }

    .beneficio h3 {
        margin-bottom: 25px;
        width: 60%;
    }

    .beneficio p {
        width: 60%;
    }
}

@media (max-width: 768px) 
{

    .cabecalho {
        padding: 0 40px;

        position: relative;
    }

    .btn-menu {
        
        display: flex;
    }

    .navegacao {

        background-color: var(--azul-escuro);

        position: absolute;
        /* distancia de 10vh do topo */
        top: 10vh;

        /* encosta na esquerda */
        left: 0;

        width: 100%;
        height: auto;

        padding: 40px;

        border-radius: 0 0 0 30px;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        
        z-index: 100;

        display: none;
    }

    .navegacao.ativo {
        display: flex;
    }
}


