.btn-home
{
    display: none;
    color: var(--branco);
}

.main-login
{
    background-image: url(../imgs/banner-login.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.section-login
{
    background-color: #E9F0EF;
    padding: 50px 100px;
    border-radius: var(--border-cards);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}

.title-login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.title-login img
{
    margin-bottom: 15px;
    height: 70px;
}

.title-login h1
{
    font-size: 1.6em;
}

.title-login p
{
    font-size: 1.2em;
    margin-top: 10px;
}

.info-login
{
    display: flex;
    flex-direction: column;
}


.campo
{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.campo input
{
    border-radius: var(--border-btn);
    outline: none;
    padding-left: 10px;
}

.campo label
{
    color: var(--texto);
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.campo input::placeholder
{    
    font-size: 1.1em;
    font-style: italic;
}

.campo input, .btn-entrar, .btn-entrar-google
{
    width: 500px;
    height: 60px;
    border: none;
}

.campo-senha 
{
   position: relative;
}

.btn-olho
{
    border: none;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

.buttons
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.btn-entrar
{
    
    background-color: var(--azul-escuro);
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
}

.btn-entrar:hover
{
    background-color: #344653;
}

.btn-entrar-google
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.btn-entrar-google:hover    
{
    background-color: #fcfcfc;
}

.btn-entrar-google img
{
    height: 50%;
}

.btn-entrar, .btn-entrar-google
{
    border-radius: var(--border-btn);
    width: 100%;
    height: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.164);
}

.btn-entrar:hover, .btn-entrar-google:hover
{
    transform: scale(1.025);
    transition: 200ms;
    cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 1024px)
{
    

   .cabecalho img
   {
        width: 20%;
        
   }

   .cabecalho nav
   {
        display: flex;
   }

   .main-login
   {
     height: 95vh;
   }

   .btn-home
   {
        display: none;
   }

   .section-login
   {
        width: 550px;
        height:600px;
        gap: 20px;
        padding: 200px;
   }

   .title-login
   {
       width: 500px;
       margin-bottom: 10%;
   }

   .title-login h1
   {
       font-size: 1.4em;
   }

   .title-login p
   {
       font-size: 1em;
   }

   .title-login img
   {
       height: 50%; 
       margin-bottom: 10px;
   }

   .info-login
   {
        gap: 35px;
   }

   .campo
   {
        margin-bottom: 0;
   }

   .campo label
   {
        font-size: 1em;
   }

   .campo input, .btn-entrar, .btn-entrar-google
    {   
        width: 450px;
        height: 45px;
        border: none;
    }  

    .btn-olho
    {
       right: 10px; 
    }
    
    .buttons
    {
        margin-top: 0;
    }
}
@media (max-width: 768px)
{
   

   .cabecalho img
   {
        width: 20%;
        
   }

   .cabecalho nav
   {
        display: none;
   }

   .main-login
   {
     height: 90vh;
   }

   .btn-home
   {
        display: flex;
   }

   .section-login
   {
        width: 70%;
        height: 600px;
        gap: 20px;
        padding: 200px;
   }

   .title-login
   {
       width: 500px;
       margin-bottom: 10%;
   }

   .title-login h1
   {
       font-size: 1.4em;
   }

   .title-login p
   {
       font-size: 1em;
   }

   .title-login img
   {
       height: 50%; 
       margin-bottom: 10px;
   }

   .info-login
   {
        gap: 35px;
   }

   .campo
   {
        margin-bottom: 0;
   }

   .campo label
   {
        font-size: 1em;
   }

   .campo input, .btn-entrar, .btn-entrar-google
    {   
        width: 450px;
        height: 45px;
        border: none;
    }  

    .btn-olho
    {
       right: 10px; 
    }
    
    .buttons
    {
        margin-top: 0;
    }
}

@media (max-width: 680px)
{
   .cabecalho  
   {
        padding: 0px 30px;
        height: 10vh;
   }

   .cabecalho img
   {
        width: 23%;
        
   }

   .cabecalho nav
   {
        display: none;
   }

   .main-login
   {
     height: 90vh;
   }

   .btn-home
   {
        display: flex;
   }

   .section-login
   {
        width: 80%;
        height: 600px;
        gap: 20px;
        padding: 200px;
   }

   .title-login
   {
       width: 500px;
       margin-bottom: 10%;
   }

   .title-login h1
   {
       font-size: 1.3em;
   }

   .title-login p
   {
       font-size: 1em;
   }

   .title-login img
   {
       height: 50%; 
       margin-bottom: 10px;
   }

   .info-login
   {
        gap: 35px;
   }

   .campo
   {
        margin-bottom: 0;
   }

   .campo label
   {
        font-size: 1em;
   }

   .campo input, .btn-entrar, .btn-entrar-google
    {   
        width: 350px;
        height: 45px;
        border: none;
    }  

    .btn-olho
    {
       right: 10px; 
    }
    
    .buttons
    {
        margin-top: 0;
    }
}