.cabecalho
{
    padding: 0 40px;
}

.cabecalho img
{
    width: 110px;
}

.cabecalho nav
{
    display: none;
}

.cabecalho .btn-home
{
    color: var(--branco);
}


/* Fundo da página */
.main-login
{
    background-image: url(../imgs/banner-login.png);
    background-size: cover;

    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo
{
    background-color:var(--fundos);

    width: 80%;

    display: grid;
    gap: 20px;

    padding: 30px;

    border-radius: 15px;
}

.titulo-login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.txt-titulo
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.txt-titulo h1
{
    font-size: 16px;
}

.txt-titulo p
{
    font-size: 14px;
    width: 70%;
}

.info-login
{
    display: grid;
    gap: 30px;
}

.inputs
{
    display: grid;
    gap: 20px;
}

.campo
{
    display: grid;
    gap: 5px;
}

.campo input
{
    width: 100%;
    height: 35px;

    border: none;
    border-radius: 10px;

    padding-left: 10px;

    outline: none;
}

.campo label
{
    color: var(--azul-escuro);
    font-size: 14px;
    font-weight: 600;
}

#email::placeholder
{
    color: rgba(0, 0, 0, 0.404);
    font-style: italic;
    font-size: 10px;
}

.campo-senha
{
    position: relative;
}

.btn-olho
{
    border: none;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

.btn-olho img
{
    width: 70%;
}

.botoes
{
    display: grid;
    gap: 15px;
}

.botao
{
    height: 40px;
    border-radius: 10px;
    border: none;
}

.btn-entrar
{
    background-color: var(--azul-escuro);

    color: var(--branco);
    text-transform: uppercase;
    font-weight: 700;

    transition: 0.1s;
}

.btn-entrar:hover
{
    background-color: #354857;
    cursor: pointer;
    transform: scale(1.025);
}

.btn-entrar-google
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--branco);

    color: var(--azul-escuro);
    font-weight: 500;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    transition: 0.1s;
}

.btn-entrar-google:hover
{
    cursor: pointer;
    transform: scale(1.025);  
}

.btn-entrar-google img
{
    height: 50%;
}

@media (min-width: 768px)
{
    .conteudo
    {
        width: 60%;
    }

    .txt-titulo h1
    {
        font-size: 20px;
    }
}

@media (min-width: 1024px)
{
    .cabecalho
    {
        padding: 0 120px;
    }

    .cabecalho img
    {
        width: auto;
    }

    .cabecalho nav
    {
        display: flex;
    }

    .cabecalho .btn-home
    {
        display: none;
    }

    .conteudo
    {
        padding: 50px 70px;
        width: 60%;
    }

    .titulo-login
    {
        margin-bottom: 30px;
        gap: 30px;
    }

    .titulo-login img
    {
        height: 60px;
    }

    .titulo-login h1
    {
        font-size: 30px;
    }

    .titulo-login p
    {
        font-size: 22px;
    }

    .inputs
    {
        margin-bottom: 30px;
    }

    .campo input
    {
        height: 50px;
    }

    .campo label
    {
        font-size: 18px;
    }

    #email::placeholder
    {
        font-size: 15px;
    }

    .btn-olho
    {
        right: 10px;
    }

    .btn-olho img
    {
        width: 100%;
    }

    .botoes
    {
        gap: 30px;
    }

    .botao
    {
        height: 50px;
    }

    .btn-entrar,
    .btn-entrar-google
    {
        font-size: 18px;
    }

    
}

@media (min-width: 1440px)
{
    .cabecalho
    {
        padding: 0 120px;
    }

    .conteudo
    {
        padding: 50px 100px;
        width: 50%;
    }

    .campo input
    {
        height: 60px;
    }

    .campo label
    {
        font-size: 20px;
    }

    #email::placeholder
    {
        font-size: 18px;
    }

    .btn-olho
    {
        right: 15px;
    }

    .btn-olho img
    {
        width: 35px;
    }

    .botoes
    {
        gap: 30px;
    }

    .botao
    {
        height: 60px;
    }

    .btn-entrar,
    .btn-entrar-google
    {
        font-size: 20px;
    }

    
}
