@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root
{
    --azul-escuro: #26333D;
    --texto: #26333D;
    --cor-destaque: #2FD6CB;

    --border-cards: 15px;
    --border-btn: 10px;
}

html
{
    scroll-behavior: smooth;
}

.cabecalho
{
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    height: 10vh;
}

.navegacao a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    margin-left: 50px;
}